.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;

    display: none;

    list-style: none;
    z-index: 1000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}