<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Empsoft - Employee Management System</title>

<link rel="stylesheet" href="../css/index.css"> <!-- external css -->
</head>
<body>
	
<div class="container">
    <h1>Coforge Technologies</h1>
    <img src="../images/coforge.png" width="150" alt="coforge logo">
    <h2>Employee Management System</h2>
    <hr>

    <a href="AddEmployee.jsp">Add Employee</a><br>
    <a href="../ViewServlet">View Employees</a><br>

    <hr>
    <a href="FirstServlet">Forward Demo</a>
  </div>
</body>
</html>